<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@100;300;500;900&display=swap');
</style>
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.navbar{ 
    background-color: #D96471;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;

}

.navbar .logo{
    width: 260px;
    height: 160px;
    grid-column: 1 / 2;

}

.navbar .menu{
    grid-column: 2 / 7;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li{
    list-style: none;
}

.navbar .menu a{
    text-decoration: none;
    color: #060D06;
}

.navbar .menubar{
    display: block;
}

.hero{
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .5 ), rgba(16, 16, 16, .5) ), url(../assets/img/0002.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.hero .infocontent{
    grid-column: 7/10;
    grid-row: 5/7;
    color: #FFA770;

}

.hero .h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.hero .h1{
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    font-weight: 300;
}

.hero .p{
    font-family: "Montserrat", sans-serif;
      font-weight: 300;
}

.container{
    width: 90%;
    max-width: 1350px;
    margin:0 auto;
    overflow: hidden;
}

.footer{
	margin-top: 12px;
    font-family: "Montserrat", sans-serif;
	width: 100%;
	height: 40px;
	background-color:#D96471;
	position: relative;
	
}